<h2>Registrar</h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="sobrenome" name="surname">
        <button type="submit">Submit</button>
    </form>